<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">List student</h1>
          </div>
        </div>
      </section>
      <a type="button" href="create/student" class="btn btn-outline-primary">Add new student +</a>
    <table class="table table-dark table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            <% for(let i=0; i < dataUser.length; i++) { %>
                <tr>
                    <td>
                        <%= dataUser[i].id %>
                    </td>
                    <td>
                        <%= dataUser[i].name %>
                    </td>
                    <td>
                        <%= dataUser[i].class %>
                    </td>
                    <td>
                        <%= dataUser[i].email %>
                    </td>
                    <td style="display: flex; gap: 15px;">
                        <a type="button" href="/edit/student/<%= dataUser[i].id %>" class="btn btn-outline-primary">Edit</a>
                        <a href="/delete/student/<%= dataUser[i].id %>"" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
      </table>
      <%- include('partials/footer.ejs') %>
</body>
</html>